{% extends "catalog/home.html" %}

{% block title %}Детали продукта{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<h2>Детали продукта</h2>
<p>Название продукта: "{{product.name}}"</p>
<p>Описание продукта: {{product.description}}</p>
<p>Категория: {{product.category}}</p>
<p>Цена: {{product.price}}</p>
<p>Дата создания: {{product.created_at|date:"d M Y"}}</p>
<p>Дата изменения: {{product.updated_at|date:"d M Y"}}</p>

<a href="{% url 'catalog:catalog_list' %}">Вернуться к списку продуктов</a>
<a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'catalog:product_delete' product.pk %}"class="btn btn-danger">Удалить</a>
{% endblock %}
